<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Influencer Company </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>The Influencer Company</h1>
            </div>
            <div class="hamburger-menu" id="hamburger-menu">
                &#9776;
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="#">I'm a Creator</a></li>
                <li><a href="#">Products and Services</a></li>
                <li><a href="#">Our Top Influencers</a></li>
                <li><a href="#">Our Top YouTubers</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        const hamburgerMenu = document.getElementById('hamburger-menu');
        const navLinks = document.getElementById('nav-links');
        
        hamburgerMenu.addEventListener('click', () => {
            navLinks.classList.toggle('show');
        });
    </script>
</body>
</html>
