<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sponsor Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #F1E1B3;
        }

        .btn-custom {
            background-color: #D71334;
            border-color: #D71334;
            color: white;
        }

        .btn-custom:hover {
            background-color: #800000;
            border-color: none;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Sponsor Registration</h1>
            <form method="POST" action="{{ url_for('sponsor_register') }}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="company_name">Company Name</label>
                    <input type="text" class="form-control" id="company_name" name="company_name" required>
                </div>
                <div class="form-group">
                    <label for="industry">Industry</label>
                    <input type="text" class="form-control" id="industry" name="industry" required>
                </div>
                <div class="form-group">
                    <label for="budget">Budget</label>
                    <input type="number" class="form-control" id="budget" name="budget" required>
                </div>
                <button type="submit" class="btn btn-custom">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
